<div class="container">
  <div class="instruction">
    <h1>Cart Builder</h1>
    <p>
      Here you have a barebones rails app you need to create a <strong>Cart</strong> be able to add products to the cart and upon checkout create and <strong>Order</strong>.
    </p>
    <p>
      An <strong>Order</strong> should have a <strong>Cart</strong> and a <strong>User</strong>.
    </p>
    <p>
      Your products model is missing some information you'll need to create a migration adding the missing columns.
    </p>
    <p>
      <strong>Extra Credit:</strong> Write tests.
    </p>
  </div>
</div>
