<div class="container">
    <div class="product">
      <div class="product__image">
        <%= image_tag 'https://teksfitnesssupplies.com/wp-content/uploads/2017/12/Coming-soon.png' %>
      </div>
      <div class="product__info">
        <div class="product__info__name">
          <h1><%= @product.name %></h1>
        </div>
        <div class="product__info__description">
            <p><%= @product.description %></p>
        </div>
        <div class="product__info__checkout">
          <div class="product__info__checkout__price">
            <span>$2022<!-- Put Price here--></span>
          </div>
          <div class="product__info__checkout__add-to-cart">
            <%= link_to 'Add to Cart', '##', class: 'btn hollow' %>
          </div>
        </div>
      </div>
    </div>
</div>
